<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% if title %}
        <title>{{ title }} - Post Office Project</title>
      {% else %}
        <title>Post Office Project</title>
      {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/justgage@latest/dist/justgage.umd.js"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark pt-3">
        <a class="navbar-brand" href="{{ url_for('index') }}">The PO Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">        
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ url_for('list') }}">PO List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ url_for('map') }}">PO Map</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ url_for('submit') }}">Submit</a>
            </li>
            {% endif %}
          </ul>

          # Align login button to the right
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              {% if current_user.is_anonymous %}
              <a class="nav-link" aria-current="page" href="{{ url_for('login') }}">Login</a>
              {% else %}
              <a class="nav-link" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
              {% endif %}
            </li>
          </ul>

        </div>
      </nav>
    </div>

    <div class="container mt-3">
      {% with messages = get_flashed_messages(category_filter=["submittance"]) %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-info" role="alert">{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>

    {% block content %}{% endblock %}

  </body>
</html>
