{% extends "base.html" %}

{% block content %}
<script src="https://unpkg.com/justgage@latest/dist/justgage.umd.js"></script>
<script type="text/javascript">
    import JustGage from 'justgage';

    const gauge = new JustGage({
        id: 'gauge-container',
        value: 67,
        min: 0,
        max: 100,
        title: 'CPU Usage',
        label: '%'
    });
</script>

<div class="container">
    <div class="row">
        <div class="col">
            <p>Hello, my name is Justin and I collect post offices. Way back in 2010 I was a member of <a href=https://ninja250.org/>Ninja250.org</a>. 
                We had monthly photo contests and I was a young college student with a camera. Riding was cheap, and I got to do a lot of it. Since 
                then I've just kept going. I've decided to try and visit all the post offices in North Carolina. Since this list changes continuously I've 
                frozen a <a href="{{ url_for('list') }}">list of 729</a> of them.
            </p>
        </div>
        <div class="col">
            <div id="gauge-container" style="width: 400px; height: 320px;"></div>
        </div>
    </div>
    <div class="row">
        {% for po in po %}
            <div class="col-lg-3">
                <div class="card text-bg-dark text-end fw-bold overflow-hidden" style="height: 80%">
                    <a class="text-reset text-decoration-none" href="{{ url_for('zip', zip=po.zip ) }}">
                    <img class="card-img" src="/static/{{ po.po_pic }}" alt="{{ po.city.title() }}">
                        <div class="card-img-overlay align-self-end">
                            <p class="card-text fs-3">{{ po.city.title() }}</p>   
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}