{% extends "base.html" %}

{% block content %}
<div class="container">
    <p>Hello, my name is Justin and I collect post offices. Way back in 2010 I was a member of <a href=https://ninja250.org/>Ninja250.org</a>. 
        We had monthly photo contests and I was a young college student with a camera. Riding was cheap, and I got to do a lot of it. Since 
        then I've just kept going. I've decided to try and visit all the post offices in North Carolina. Since this list changes continuously I've 
        frozen a <a href="{{ url_for('list') }}">list of 729</a> of them.
    </p>
    <div class="row">
        {% for po in po %}
            <div class="col-sm-3">
                <a href="{{ url_for('zip', zip=po.zip ) }}"><img class="rounded img-thumbnail" src="/static/{{ po.po_pic }}" width="100" height="100" alt="{{ po.city.title() }}"></a>
                <a href="{{ url_for('zip', zip=po.zip ) }}">{{ po.city.title() }}</a>, NC {{ po.zip }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}