{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
            <p>Hello, my name is Justin and I collect post offices. Way back in 2010 I was a member of <a href=https://ninja250.org/>Ninja250.org</a>. 
                We had monthly photo contests and I was a young college student with a camera. Riding was cheap, and I got to do a lot of it. Since 
                then I've just kept going. I've decided to try and visit all the post offices in North Carolina. Since this list changes continuously I've 
                frozen a <a href="{{ url_for('list') }}">list of 729</a> of them.
            </p>
    </div>
    <div class="row">
        {% for po in po %}
            <div class="col-lg-3">
                <div class="card text-bg-dark text-end fw-bold overflow-hidden" style="height: 80%">
                    <a class="text-reset text-decoration-none" href="{{ url_for('zip', zip=po.zip ) }}">
                    <img class="card-img" src="/static/{{ po.po_pic }}" alt="{{ po.city.title() }}">
                        <div class="card-img-overlay align-self-end">
                            <p class="card-text fs-3">{{ po.city.title() }}</p>   
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
      <div class="card">
        <canvas id="lineChart"></canvas>
        <div class="card-img-overlay" style="width: 30%; left: 15%;">
          <div class="bg-white p-2 rounded shadow-sm" style="--bs-bg-opacity: .0;">
              <canvas id="doChart"></canvas>
          </div>
        </div>
      </div>
    </div>
</div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
<script>
const lc = document.getElementById('lineChart');
const pc = document.getElementById('doChart');
pc.width = 200;
pc.height = 100;

const doughnutChart = new Chart(pc, {
  type: 'doughnut',
  data: {
    labels: ['Visited', 'Not Visited'],
    datasets: [{
      label: 'Completion Rate',
      data: [{{ po_cumulative[-1] }}, 728],
      backgroundColor: ['rgb(75, 192, 192)', 'rgba(75, 192, 192, 0.25)']
    }]
  },
  options: {
    animation: false,
    aspectRatio: 2,
    circumference: 180,
    rotation: -90,
    plugins: {
      legend: { display: false },
      annotation: {
        annotations: {
          dLabel: {
            type: 'doughnutLabel',
            content: ["{{ ((po_cumulative[-1] / 728) * 100) | round(1) }}%", "Complete"],
            font: [{ size: 60 }],
            color: ['black']
          }
        }
      }
    }
  }
});

new Chart(lc, {
  type: 'line',
  data: {
    labels: {{ po_years | tojson }},
    datasets: [{
      type: 'bar',
      label: 'Visits by Year',
      data: {{ po_counts | tojson }},
      backgroundColor: 'rgba(75, 192, 192, 0.5)',
      borderColor: 'rgb(75, 192, 192)',
      borderWidth: 1,
      yAxisID: 'y1'
    }, {
      label: 'Total Visits',
      data: {{ po_cumulative }},
      fill: true,
      borderColor: 'rgb(54, 162, 235)',
      borderWidth: 1,
      yAxisID: 'y'
    }]
  },
  options: {
    scales: {
      y: {
        type: 'linear',
        display: true,
        position: 'left',
        title: { display: true, text: 'Total Progress' }
      },
      y1: {
        type: 'linear',
        display: true,
        position: 'right',
        grid: { drawOnChartArea: false },
        title: { display: true, text: 'Visits per Year' }
      }
    },
    plugins: {
      legend: { display: false }
    }
  }
});
</script>

{% endblock %}