{% extends "base.html" %}

{% block content %}
<div class="container">
    <table class="table table-hover">
    {% for po in po %}
            <tr>
                <td>
                    {% if po.visited %}
                        <h3><a href="{{ url_for('zip', zip=po.zip ) }}">{{ po.city.title() }}, NC</a></h3>
                    {% else %}
                        <h3>{{ po.city.title() }}, NC</h3>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td> <p>{{ po.street }}, {{ po.city.title() }}, {{ po.state }} {{ po.zip }}</p></td>
            </tr>       
    {% endfor %}
    </table>
</div>
{% endblock %}
