{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Submit the Visit</h1>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.zip.label }}<br>
            {{ form.zip(size=5) }}
            {% for error in form.zip.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.file() }}</p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}
