{% extends "base.html" %}

{% block content %}
    <h1>Submit the Visit</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.zip.label }}<br>
            {{ form.zip(size=5) }}
            {% for error in form.zip.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.city.label }}<br>
            {{ form.city(size=32) }}
            {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.visited() }} {{ form.visited.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}